<div>
  Slide interval: {{ editable.interval }} <slider ng-model="editable.interval" min="1" max="600" handle="square"></slider>
  <pw-upload-images url="'/u/images'" data="editable.images"></pw-upload-images>
  <div class="row" sv-root sv-part="editable.images">
    <div class="col-xs-6 col-md-3" ng-repeat="image in editable.images" sv-element>
      <div class="thumbnail">
        <img class="img-responsive" ng-src="{{ '/u/images/' + image.src | trustedUrl }}">
        <div class="overlay buttons">
          <button class="btn btn-danger pull-right" ng-click="removeImage($index)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
