<div>
  <div
    class="btn btn-default btn-block"
    accept="video/*"
    ng-disabled="uploadFile"
    ngf-drop
    ngf-select
    ngf-drag-over-class="{accept:'bg-success', reject:'bg-danger', delay:100}"
    ngf-multiple="false"
    ngf-allow-dir="false">
    ngf-change="upload($file)">
    Drag &amp; Drop video file here or click to select file
  </div>
  <div ng-show="uploadFile">
    <progressbar class="progress-striped active" value="uploadProgress" type="success">
    Uploading {{ uploadFile.name }}: <b>{{ uploadProgress }}%</b>
    </progressbar>
  </div>
  <div class="well" ng-if="editable.src">
    <video controls>
      <source ng-src="{{ '/u/video/' + editable.src | trustedUrl }}" type='video/webm;codecs="vp8, vorbis"'/>
    </video>
    <button type="button" class="btn btn-danger btn-sm btn-block" ng-click="removeVideo(editable.src)">
      <i class="fa fa-trash"></i>
      Remove {{ box.data.video.name }}
    </button>
  </div>
</div>
