<!DOCTYPE html>
<html ng-app="PixelWallFrontEnd">
  <head>
    <title>PixelWall</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <base href="/">
    <!--STYLES-->
    <link rel="stylesheet" href="/vendor/angular-gridster/angular-gridster.min.css">
    <link rel="stylesheet" href="/vendor/angular-material/angular-material.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>
  <body>
    <%- body %>
    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/vendor/javascript-detect-element-resize/detect-element-resize.js"></script>
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/angular-animate/angular-animate.js"></script>
    <script src="/vendor/angular-aria/angular-aria.js"></script>
    <script src="/vendor/angular-gridster/angular-gridster.js"></script>
    <script src="/vendor/angular-material/angular-material.js"></script>
    <script src="/vendor/angular-resource-sails/sailsResource.js"></script>
    <script src="/vendor/angular-resource/angular-resource.js"></script>
    <script src="/vendor/angular-ui-router/angular-ui-router.js"></script>
    <script src="/vendor/hammerjs/hammer.js"></script>
    <script src="/vendor/lodash/lodash.compat.js"></script>
    <script src="/js/pixelwall/frontend.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
