<div class="panel panel-default">
  <div class="panel-body">
    {{ box.type }} ({{ box.id }})
    <ul class="list-group">
      <li class="list-group-item">top: {{ box.top }}</li>
      <li class="list-group-item">left: {{ box.left }}</li>
      <li class="list-group-item">width: {{ box.width }}</li>
      <li class="list-group-item">height: {{ box.height }}</li>
      <li class="list-group-item">data: {{ box.data }}</li>
      <li class="list-group-item">page: {{ box.page }}</li>
      <li class="list-group-item">createdAt: {{ box.createdAt }}</li>
      <li class="list-group-item">updatedAt: {{ box.updatedAt }}</li>
    </ul>
  </div>
</div>
