.backend {
  .logo {
    background: url(/images/pixelwall-logo.svg) center center / 42px no-repeat;
    width: 120px;
  }

  .box {
    border:1px dotted #fff;
    &:hover .overlay {
      display: initial;
    }
    .carousel {
      .arrows {
        display: initial;
      }
    }
  }
}
.thumbnail {
  &:hover .overlay {
    display: initial;
  }
}

input.box-value {
  width: 100%;
}
