<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand logo">Pixelwall</div>
    </div>
    <p class="navbar-text">
      <pw-user></pw-user>
      <i class="fa fa-angle-double-right"></i>
      {{ 'Managing boxes' | translate }}
      <i class="fa fa-angle-double-right"></i>
      {{ page.name }}
    </p>
    <div class="btn-group navbar-right">
      <span
         class="btn-group"
        dropdown
        ng-show="additionPossible">
        <span
          type="button"
          class="btn btn-default dropdown-toggle navbar-btn"
          dropdown-toggle>
          <i class="fa fa-plus-square"></i>
          Add Box <span class="caret"></span>
        </span>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="(type, data) in types">
            <a ng-click="addBox(type)">
              <i class="fa fa-{{ data.icon }}"></i>
              {{ data.label }}
            </a>
          </li>
        </ul>
      </span>
      <span class="btn btn-default navbar-btn">
        <i class="fa fa-arrows-h"></i>
        {{page.rows}}
      </span>
      <span class="btn btn-default navbar-btn">
        <i class="fa fa-arrows-v"></i>
        {{page.columns}}
      </span>
      <span class="btn btn-default navbar-btn" ui-sref="^">
        <i class="fa fa-arrow-left"></i>
        Pages
      </span>
    </div>
  </div>
</nav>
<wg-grid
  class="box-grid"
  columns="{{page.columns}}"
  rows="{{page.rows}}"
  options="gridOptions"
  id="boxGrid">
  <wg-widget
    wg-resizable
    wg-movable
    editable="{{ editable }}"
    ng-repeat="box in boxes"
    position="box">
    <pw-box box="box"></pw-box>
    <pw-box-overlay box="box"></pw-box>
  </wg-widget>
</wg-grid>
