<ui-view>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand logo">Pixelwall</div>
    </div>
    <p class="navbar-text">
      <pw-user></pw-user>
      <i class="fa fa-angle-double-right"></i>
      {{ 'Managing pagesets' | translate }}
    </p>
    <div class="btn-group navbar-right">
      <span
        class="btn btn-default navbar-btn"
        ng-hide="inserted"
        ng-click="addPageset()">
        <i class="fa fa-plus-square"></i>
        {{ 'New pageset' | translate }}
      </span>
      <span
        class="btn btn-default navbar-btn pull-right"
        ui-sref="index">
        <i class="fa fa-arrow-left"></i>
        {{ 'Main menu' | translate }}
      </span>
    </div>
  </div>
</nav>
<ul data-gridster="gridsterOptions">
  <li
    data-gridster-item
    ng-repeat="pageset in pagesets">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <form
          editable-form
          name="rowform"
          onbeforesave="savePageset(pageset, $data)"
          oncancel="cancelPageset(pageset, $index)"
          shown="inserted == pageset">
          <h4
            class="pull-left"
            editable-text="pageset.name"
            e-name="name"
            e-form="rowform"
            e-required>
            {{ pageset.name || 'Unnamed' }}
          </h4>
          <span class="button-group pull-right">
            <span ng-show="!rowform.$visible">
              <span
                class="btn btn-primary btn-sm"
                ng-click="rowform.$show()">
                <i class="fa fa-edit"></i>
                {{ 'Edit' | translate }}
              </span>
              <span
                class="btn btn-danger btn-sm"
                ng-click="removePageset(pageset)">
                <i class="fa fa-trash"></i>
                {{ 'Remove' | translate }}
              </span>
            </span>
            <span ng-show="rowform.$visible">
              <button
                class="btn btn-primary btn-sm"
                type="submit"
                ng-disabled="rowform.$waiting">
                <i class="fa fa-save"></i>
                {{ 'Save' | translate }}
              </button>
              <span
                class="btn btn-default btn-sm"
                ng-disabled="rowform.$waiting"
                ng-click="rowform.$cancel()">
                <i class="fa fa-close"></i>
                {{ 'Cancel' | translate }}
              </span>
            </span>
          </span>
        </form>
      </div>
      <div class="panel-body">
        {{ 'Pages' | translate }}:
        {{ pageset.pages.length || 'No pages yet' | translate }}
      </div>
      <div class="panel-footer clearfix">
        <span
          type="button"
          class="btn btn-default btn-sm pull-right"
          ng-hide="pageset == inserted"
          ui-sref="backend.pagesets.pages({pagesetId: pageset.id})">
          <i class="fa fa-table"></i>
          {{ 'Edit pages' | translate }}
        </span>
      </div>
    </div>
  </li>
</ul>
</ui-view>
