<ui-view>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand logo">Pixelwall</div>
    </div>
    <p class="navbar-text">
      <pw-user></pw-user>
      <i class="fa fa-angle-double-right"></i>
      {{ 'Managing pages' | translate }}
      <i class="fa fa-angle-double-right"></i>
      {{ pageset.name }}
    </p>
    <div class="btn-group navbar-right">
      <span
        class="btn btn-default navbar-btn"
        ng-hide="inserted"
        ng-click="addPage()">
        <i class="fa fa-plus-square"></i>
        {{ 'New page' | translate }}
      </span>
      <span
        class="btn btn-default navbar-btn pull-right"
        ui-sref="^">
        <i class="fa fa-arrow-left"></i>
        {{ 'Pagesets' | translate }}
      </span>
    </div>
  </div>
</nav>
<div
  class="container-fluid"
  data-as-sortable="sortedPageOptions"
  data-ng-model="pages">
  <div class="panel panel-default" ng-repeat="page in pages" data-as-sortable-item>
    <div class="panel-heading clearfix">
      <form
        name="rowform"
        onbeforesave="savePage(page, $data)"
        oncancel="cancelPage(page, $index)"
        shown="inserted == page"
        editable-form>
        <h4
          class="pull-left"
          editable-text="page.name"
          e-name="name"
          e-form="rowform"
          e-title="Name">
          {{ page.name }}
        </h4>
        <span class="button-group pull-right">
          <span
            class="btn btn-default btn-sm"
            ng-hide="inserted"
            data-as-sortable-item-handle>
            <i class="fa fa-sort"></i>
            {{ 'Order' | translate }}
          </span>
          <span ng-show="!rowform.$visible">
            <span
              class="btn btn-success btn-sm"
              ui-sref="backend.pagesets.pages.boxes({pagesetId: pageset.id, pageId: page.id})">
              <i class="fa fa-table"></i>
              {{ 'Boxes' | translate }}
            </span>
            <span class="btn btn-primary btn-sm" ng-click="rowform.$show()">
              <i class="fa fa-edit"></i>
              {{ 'Edit' || translate }}
            </span>
            <span class="btn btn-danger btn-sm" ng-click="removePage(page)">
              <i class="fa fa-trash"></i>
              {{ 'Remove' | translate }}
            </span>
          </span>
          <span ng-show="rowform.$visible">
            <button
              class="btn btn-primary btn-sm"
              type="submit"
              ng-disabled="rowform.$waiting">
              <i class="fa fa-save"></i>
              {{ 'Save' | translate }}
            </button>
            <span
              class="btn btn-default btn-sm"
              ng-disabled="rowform.$waiting"
              ng-click="rowform.$cancel()">
              <i class="fa fa-close"></i>
              {{ 'Cancel' | translate }}
            </span>
          </span>
        </span>
      </form>
    </div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 well">
            <label for="rows" class="control-label">
              <i class="fa fa-arrows-h"></i>
              {{ 'Rows' | translate }}:
            </label>
            <span
              class="form-control-static"
              editable-range="page.rows"
              e-name="rows"
              e-form="rowform"
              e-title="Rows"
              e-min="1"
              e-max="60">
              {{ page.rows }}
            </span>
          </div>
          <div class="col-md-4 well">
            <label for="columns" class="control-label">
              <i class="fa fa-arrows-v"></i>
              {{ 'Columns' | translate }}:
            </label>
            <span
              class="form-control-static"
              editable-range="page.columns"
              e-name="columns"
              e-form="rowform"
              e-title="Columns"
              e-min="1"
              e-max="40">
              {{ page.columns }}
            </span>
          </div>
          <div class="col-md-4 well">
            <label for="duration" class="control-label">
              <i class="fa fa-clock-o"></i>
              {{ 'Duration' | translate }}:
            </label>
            <span
              class="form-control-static"
              editable-number="page.duration"
              e-name="duration"
              e-form="rowform"
              e-title="seconds"
              e-min="5">
              {{ page.duration }} {{ 'seconds' | translate }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</ui-view>
