<ui-view>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand logo">Pixelwall</div>
    </div>
    <p class="navbar-text">
      <pw-user></pw-user>
      <i class="fa fa-angle-double-right"></i>
      {{ 'Managing users' | translate }}
    </p>
    <div class="btn-group navbar-right">
      <span
        class="btn btn-default navbar-btn"
        ng-hide="inserted"
        ng-click="addDevice()">
        <i class="fa fa-plus-square"></i>
        {{ 'New user' | translate }}
      </span>
      <span
        class="btn btn-default navbar-btn pull-right"
        ui-sref="index">
        <i class="fa fa-arrow-left"></i>
        {{ 'Main menu' | translate }}
      </span>
    </div>
  </div>
</nav>
<ul data-gridster="gridsterOptions">
  <li data-gridster-item ng-repeat="user in users">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <form
          editable-form
          name="rowform"
          onbeforesave="saveUser(user, $data)"
          oncancel="cancelUser(user, $index)"
          shown="inserted == user">
          <h4 class="pull-left">
            {{ user.auth.username || 'Unnamed' }}
          </h4>
          <span class="button-group pull-right">
            <span ng-show="!rowform.$visible">
              <span class="btn btn-primary btn-sm" ng-click="rowform.$show()">
                <i class="fa fa-edit"></i>
                {{ 'Edit' | translate }}
              </span>
              <span class="btn btn-danger btn-sm" ng-click="removeUser(user)">
                <i class="fa fa-trash"></i>
                {{ 'Remove' | translate }}
              </span>
            </span>
            <span ng-show="rowform.$visible">
              <button
                class="btn btn-primary btn-sm"
                type="submit"
                ng-disabled="rowform.$waiting">
                <i class="fa fa-save"></i>
                {{ 'Save' | translate }}
              </button>
              <span
                class="btn btn-default btn-sm"
                ng-disabled="rowform.$waiting"
                ng-click="rowform.$cancel()">
                <i class="fa fa-close"></i>
                {{ 'Cancel' | translate }}
              </span>
            </span>
          </span>
        </form>
      </div>
      <div class="panel-body">
        <span
           ng-if="user.auth.password"
           editable-password="user.auth.password"
           e-name="password"
           e-form="rowform">
          {{ 'Password set' | translate }}
        </span>
      </div>
      <div class="panel-footer clearfix">
        <span
            class="btn btn-sm pull-right"
            ng-class="{'btn-success': device.active}"
            ng-hide="device == inserted"
            ng-click="toggleUser(user)">
          <i class="fa fa-{{ user.active ? 'toggle-off' : 'toggle-on' }}"></i>
          {{ user.active ? 'Enabled' : 'Disabled' | translate }}
        </span>
      </div>
    </div>
  </li>
</ul>
</ui-view>
