<div class="page-header">
<h1><img src="/images/pixelwall-logo.svg"/> PixelWall <small>the smart public display solution</small></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <h1>Display Frontend</h1>
        <p>Select the content you want to display.</p>
        <button type="button" class="btn btn-success btn-lg btn-block" ui-sref="frontend.devices">
          <fa name="play"></fa> Launch display
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbotron">
        <h1>Administration</h1>
        <p>
        <div>
          <button type="button" class="btn btn-lg btn-block" ui-sref="backend.devices">
            <fa name="gears"></fa>
            Manage devices
          </button>
          <button type="button" class="btn btn-lg btn-block" ui-sref="backend.users">
            <fa name="users"></fa>
            Manage users
          </button>
        </div>
        </p>
      </div>
    </div>
  </div>
</div>
